* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--light-grey);
}


.header {
    position: fixed;
    width: 100%;
    padding: 1.2rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-light);
    border-bottom: 1px solid #00000011;
    z-index: 1000;
}

.logo{
    /* display: flex; */
    /* align-items: center; */
    gap: 0.5rem;
}

.logo-icon {
    color:  #273469;
}

.navbar-icon {
    /* margin-right: -32px; */
    /* border: 2px solid red; */
    width: 80px;
    margin-left: 70px;
    height: 30px;
    display: block;
    object-fit: contain;
    padding: 16px;
    align-items: center;
    /* margin-left: 20px; */
}

.navbar-icons .icon {
  font-size: 20px;
  gap: 26px;
  margin-left: auto; 
  color: #333;
  padding: 17px;
  background: #f1f1f1;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.navbar-content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
}

.navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.navbar-links i {
    font-size: 12px;
}

.navbar-link:hover .navbar-link-dropdown {
    display: block;
}

.navbar-link-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 16px);
    max-width: 360px;
    width: 90vw;
    min-height: 200px;
    background-color: red;
    z-index: 10;
    border-radius: 12px;
}

.navbar-cta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    background-color: #273469;
    color: white;
    border-radius: 8px;
    
}



.hero-section {
    height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
  background: linear-gradient(to right, #dceafe, #fdfbe4);
  font-size: 1.25rem;
}



.hero-content {
  max-width: 100%;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #273469;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  color: #333333;
  margin-bottom: 2rem;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}

.btn {
  padding: 16px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.btn.primary {
  background-color: #ff4c3b;
  color: white;
}

.btn.primary i{
    font-size: 15px;
    font-style: bold;
}

.btn.secondary {
  background-color: #1d3b8b;
  color: white;
}

.btn.btn.secondary i{
    font-size: 15px;
    font-style: bold;
}


.hero-images {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-row {
  display: flex;
  gap: 10px;
}

.hero-images img {
  width: 260px;
  height: auto;
  border-radius: 12px;
}

/* .award-badge {
  position: absolute;
  left: 90px;
  top: 110px;
  width: 70px;
  height: 70px;
} */